table { border-collapse: collapse; border: 1px solid #DBDADB; }
table th, table td { border-top: 1px solid #DBDADB; vertical-align: top; padding: 5px; white-space: normal; }
table th { background-color: #f5f5f5; }

html, body { height: 100%; }

#root { min-height: 100%; margin-bottom: -2em; }
#root #root_footer { height: 2em; }

#footer { clear: both; position: relative; height: 2em; }

body #footer { text-align: center; color: #999; }
